@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2")
  format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style:normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2")
  format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2")
  format("woff2");
  font-display: swap;
}
html{
  height: 100%;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans",
  sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.navigation{
  font-family: "PT Sans",
  sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align:justify;
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  width: 1200px;
  min-height: 64px;
}
.navigation-logo{
  margin: 0;
  width: 138px;
  display: block;
}
.navigation-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 620px;
  list-style-type: none;
}
.navigation-link,
.navigation-link-current{
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.navigation-item{
  margin: 20px 16px;
}
.navigation-link-main{
  height: 64px;
}
.navigation-link-about{
  height: 64px;
}
.navigation-link-hotels{
  height: 64px;
}
.navigation-user{
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 280px;
  margin-left: auto;
  list-style-type: none;
}
.navigation-user .navigation-link{
  min-width: 44px;
  min-height: 64px;
}
.navigation-link-search{
  display: flex;
  min-width: 44px;
  min-height: 64px;
  background-image: url(../images/main-page-nav/search.svg);
  background-repeat: no-repeat;
}
.navigation-link-likes{
  display: flex;
  min-width: 44px;
  min-height: 64px;
  background-image: url(../images/main-page-nav/heart.svg);
  background-repeat: no-repeat;
}

.navigation-user-link{
  display: block;
  text-decoration: none;
}
.navigation-link-want{
  display: inline;
  vertical-align: middle;
  background-color:#756157;
  color:#ffffff;
  width: 376px;
  height: 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.visually-hidden{
  position:absolute;
  width: 1px;
  height: 1px;
  margin:-1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow:hidden;
}
.main-container {
  flex-grow: 1;
  padding-top: 35px;
  padding-bottom: 60px;
}
.page-container{
  width: 1200px;
  margin: 0 auto;
}
.main-index-image{
  background-image: url(../images/main-bg-image.jpg);
  background-color: #82B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-index-name{
  font-family: "PT Sans",
  sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.main-index-description{
  font-family: "PT Sans",
  sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.advantages-list{
  margin: 0;
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  width: 1200px;
  list-style-type: none;
}
.advantages-item{
  display: flex;
}

.advantage-description-item{
  width: 400px;
  min-height: 384px;
}

.advantages-title{
  font-family: "PT Sans",
  sans-serif;
  font-style: bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-description{
  font-family: "PT Sans",
  sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}
.services-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1200px;
  list-style-type: none;
}
.services-item{
  display: block;
  margin: 0;
  padding: 0;
  width: 400px;
  min-height: 384px;
}
.services-name{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.service-description{
  font-family: "PT Sans",
  sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.advantages-item-city,
.advantages-item-bridge{
  color: #ffffff;
  background-color: rgba(130, 179, 211);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.advantages-item-square,
.advantages-item-quiet{
  color: #000000;
  background-color: rgba(130, 179, 211, 0.12);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.services-item-accomodation{
  color: #000000;
  background-color: rgba(130, 179, 211, 0.12);
  background-image: url(../images/services/service-home-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.services-item-souvenirs{
  color: #000000;
  background-color: rgba(130, 179, 211, 0.12);
  background-image: url(../images/services/service-gift-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.advantages-item-road{
  color: #000000;
  background-color: rgba(130, 179, 211, 0.2);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.services-item-food{
  color: #000000;
  background-image: url(../images/services/service-food-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}
.reservation{
  display: flex;
  width: 1200px;
  height: 406px;
}
.reservation-container{
  display:block;
  padding: 96px 304px;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.reservation-title{
  font-family: "PT Sans",
  sans-serif;
  font-style: bold;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.reservation-description{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.button-reservation{
  color: #ffffff;
  background-color:#756157;
  border-style: none;
  width: 376px;
  height: 52px;
  font-family: "PT Sans",
  sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 54px;
  margin-bottom: 96px;
}
.footer-info{
  width: 1200px;
  margin: 0 auto;
}

.newsletter-title{
  font-family: "PT Sans",
  sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-left: 35px;
  margin-right: 35px;
}
.newsletter-index .newsletter-title{
  color: #ffffff;
}
.newsletter-text{
  font-family: "PT Sans",
  sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.newsletter-index .newsletter-text{
  color: #ffffff;
}

.newsletter{
  margin: 0;
  padding: 0;
  align-content: center;
  text-align: center;
}

.newsletter-text{
  font-family: "PT Sans",
  sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.newsletter-index .newsletter-text{
  color: #ffffff;
}

.newsletter-index{
  background-color: rgba(130, 179, 211, 0.3);
  background-image: url("../images/bg-newsletter-image.jpeg");
  margin-bottom: 30px;
  padding: 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-button{
  vertical-align:middle;
  background-color:#82B3D3;
  color: #ffffff;
  width: 232px;
  height: 52px;
  font-family: "PT Sans",
  sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.contacts-container{
  display: flex;
  width: 1060px;
  align-items: center;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
}
.social-networks-list{
  display: flex;
  width: 180px;
  padding: 0;
  margin: 0;
}
.htmlacademy-link{
  max-width: 115px;
}
.social-networks-item{
  display: flex;
  margin: 0;
  padding: 0;
  color:#000000;
  background-color: #ffffff;
  text-decoration: none;
}
.contacts-phone{
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.page-container{
  padding-top: 35px;
}
.inner-header-title {
  margin-top: 35px;
  margin-bottom: 16px;
  line-height: 78px;
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 70px;
  margin-right: 635px;

}
.breadcrumbs{
  display: block;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 70px;
  margin: 0;
}
.breadcrumbs-item{
  display: block;
  padding: 0 0 2px 0;
}
.breadcrumbs-link-index{
  background-image: url(../images/house-main-vector.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
}

.breadcrumbs-link-hotels{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding-left: 28px;
}
.breadcrumbs-link-index::after{
  content:url("../images/house-to-hotel-vector.svg");
  width: 7px;
  height: 10px;
  padding-left: 10px;
}
.selection-panel{
  background-image: url("../images/bg-catalog-image.jpg");
  background-size: 1200px 412px;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  list-style-type: none;
}

.catalog{
  display: flex;
}
.catalog-filter{
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.catalog-filter-title{
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
.catalog-filter-item{
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
  list-style-type: none;
}
.hotel-price{
  color: #ffffff;
}
.sorting-hotels{
  display: flex;
  padding: 50px 70px 60px 70px;
}
.button-light {
  color: #ffffff;
  background-color: transparent;
}
.button-dark{
  color: #ffffff;
  background-color: #82B3D3;
}
.select-control{
  display: flex;
  color: #000000;
}
.sorting-container .button{
  width: 48px;
  height: 48px;
}
.sorting-container{
  display: flex;
  margin-bottom: 14px;
  padding: 20px;
}
.select-control{
  width: 292px;
  height: 49px;
}
.control{
  font-weight: 400;
  color: #ffffff;
}
.show-options{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.show-option-item{
  display: block;
  border-color: #000000;
  width: 48px;
  height: 48px;
}

.hotel-list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  align-items: center;
}
.hotel-card{
  width: 340px;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  margin-right: 20px;
}
.hotel-card:nth-child(3n) {
  margin-right: 0;
}
.hotel-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.hotel-card-price,
.hotel-card-type{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.hotel-card-button{
  vertical-align:middle;
  color: #ffffff;
  border-style: none;
  width: 140px;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.hotel-card-button-amara,
.hotel-card-button-desert,
.hotel-card-button-green{
  background-color: #82B3D3;
}
.hotel-card-button-poco{
  background-color: #7DB54F;
}
.hotel-card-image{
  display: block;
}
.hotel-card-link{
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-link-more{
  vertical-align:middle;
  color: #ffffff;
  background-color: #756157;
  border-style: none;
  width: 140px;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.pagination{
  display: flex;
  margin: 0;
  padding: 0;
  width: 1060px;
  list-style-type: none;
  justify-content: flex-start;
}
.pagination-item{
  display: flex;
  list-style-type: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link{
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  width: 60px;
  height: 60px;
  padding-top: 11px;
  text-align: center;
}
.pagination-current{
  background-color: #F2F2F2;
  color: #000000;
}
.pagination-link-choice{
  background-color:#82B3D3;
  color: #ffffff;
}
.pagination-next{
  text-decoration: none;
  color: #000000;
}
.hotel-card-rank{
  background-color: #F2F2F2;
  width: 140px;
  height: 37px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.search-results-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.footer-contacts {
  display: flex;
}
