@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2")
  format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style:normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2")
  format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2")
  format("woff2");
  font-display: swap;
}
html{
  height: 100%;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans",
  sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.navigation{
  font-family: "PT Sans",
  sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align:justify;
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  width: 1200px;
  margin: auto;
}
.navigation-logo{
  margin: 0;
  width: 138px;
  display: block;
}
.navigation-list{
  display: flex;
  margin: 0;
  padding: 0;
  width: 620px;
  list-style-type: none;
}
.navigation-link-main{
  display: flex;
  width: 100px;
  height: 64px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
.navigation-link-about{
  display: flex;
  width: 114px;
  height: 64px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
.navigation-link-hotels{
  display: flex;
  width: 125px;
  height: 64px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
.navigation-user{
  display: flex;
  max-width: 280px;
  margin-left: auto;
}

.navigation-link,
.navigation-link-current{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
  width: 490;
  text-decoration: none;
}

.navigation-link-want{
  vertical-align: middle;
  background-color:#756157;
  color:#ffffff;
  width: 376px;
  height: 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.main-container{
  flex-grow: 1;
}
.page-container{
  width: 1200px;
  margin: 0 auto;
}
.main-index-image{
  background-image: url(../images/main-bg-image.jpg);
  background-color: #82B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
}

.main-index-name{
  font-family: "PT Sans",
  sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.main-index-description{
  font-family: "PT Sans",
  sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.advantages-list{
  margin: 0;
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  width: 1200px;
  list-style-type: none;
}
.advantages-item{
  display: flex;
  height: 384px;
}

.advantage-description-item{
  width: 400px;
  height: 384px;
}

.advantages-title{
  font-family: "PT Sans",
  sans-serif;
  font-style: bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-description{
  font-family: "PT Sans",
  sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}
.services-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1200px;
  list-style-type: none;
}
.services-item{
  display: block;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 384px;
}
.services-name{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.service-description{
  font-family: "PT Sans",
  sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.advantages-item-city,
.advantages-item-bridge{
  color: #ffffff;
  background-color: rgba(130, 179, 211);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.advantages-item-square,
.advantages-item-quiet{
  color: #000000;
  background-color: rgba(130, 179, 211, 0.12);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.services-item-accomodation{
  color: #000000;
  background-color: rgba(130, 179, 211, 0.12);
  background-image: url(../images/services/service-home-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.services-item-souvenirs{
  color: #000000;
  background-color: rgba(130, 179, 211, 0.12);
  background-image: url(../images/services/service-gift-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.advantages-item-road{
  color: #000000;
  background-color: rgba(130, 179, 211, 0.2);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.services-item-food{
  color: #000000;
  background-image: url(../images/services/service-food-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}
.newsletter{
  display: block;
  margin: 0;
  padding: 0;
  align-content: center;
}
.reservation-container{
  display: flex;
  width: 592px;
  height: 214px;
  margin-top: 96px;
  margin-bottom: 96px;
  margin-left: 304px;
  margin-right: 304px;
  align-content: center;
}
.reservation-title{
  font-family: "PT Sans",
  sans-serif;
  font-style: bold;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.reservation-description{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.button-reservation{
  color: #ffffff;
  background-color:#756157;
  border-style: none;
  width: 376px;
  height: 52px;
  font-family: "PT Sans",
  sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter{
  text-align: center;
}

.newsletter-title{
  font-family: "PT Sans",
  sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.newsletter-index .newsletter-title{
  color: #ffffff;
}

.newsletter-text{
  font-family: "PT Sans",
  sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.newsletter-index .newsletter-text{
  color: #ffffff;
}

.newsletter-index{
  background-color: rgba(130, 179, 211, 0.3);
  background-image: url("../images/bg-newsletter-image.jpeg");
  margin-bottom: 30px;
  padding: 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-button{
  vertical-align:middle;
  background-color:#82B3D3;
  color: #ffffff;
  width: 232px;
  height: 52px;
  font-family: "PT Sans",
  sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.contacts-container{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.social-networks-list{
  display: flex;
  max-width: 142px;
  margin-right: 41px;
  margin-top: 45px;
  margin-bottom: 35px;
  margin-left: 70px;
  margin-right: 41px;

}
.htmlacademy-link{
  display: flex;
  max-width: 115px;
  margin-right: 70px;
  margin-left: 41px;
  margin-top: 48px;
  margin-bottom: 38px;
}
.social-networks-item{
  display: flex;
  margin: 0;
  padding: 0;
  width: 142px;
  color:#000000;
  background-color: #ffffff;
  text-decoration: none;
}
.contacts-phone{
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  width: 331px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 30px;
}

.inner-header-title {
  line-height: 78px;
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
  padding: 0;
  width: 494px;
  height: 78px;
}
.breadcrumbs{
  display: flex;
  width: 114px;
  height: 21px;
}
.breadcrumbs-link-index{
  background-image: url(../images/house-main-vector.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
}

.breadcrumbs-link-hotels{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.breadcrumbs-link-index::after{
  content:url("../images/house-to-hotel-vector.svg");
  width: 7px;
  height: 10px;
}
.selection-panel{
  display: flex;
  background-image: url("../images/bg-catalog-image.jpg");
  background-size: 1200px 412px;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  width: 1200px;
  list-style-type: none;
}

.catalog{
    display: flex;
    list-style-type: none;
}
.catalog-filter{
  min-width: 150px;
  margin-left: 70px;
  justify-content: center;
}
.catalog-filter-title{
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
.catalog-filter-item{
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
  list-style-type: none;
}
.hotel-price{
  color: #ffffff;
}
.button-light {
  color: #ffffff;
  background-color: transparent;
}
.button-dark{
  color: #ffffff;
  background-color: #82B3D3;
}
.control{
  font-weight: 400;
  color: #ffffff;
}
.sorting-container {
  color: #000000;
  background-color: #ffffff;
}
.hotel-list{
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  height: 896px;
  align-items: center;
  justify-content: center;
}
.hotel-card{
  width: 340px;
  height: 438px;
  padding: 0;
  margin: 0;
}
.hotel-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

}
.hotel-card-price,
.hotel-card-type{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.hotel-card-button{
  vertical-align:middle;
  color: #ffffff;
  border-style: none;
  width: 140px;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.hotel-card-button-amara,
.hotel-card-button-desert,
.hotel-card-button-green{
  background-color: #82B3D3;
}
.hotel-card-button-poco{
  background-color: #7DB54F;
}
.hotel-card-image{
  display: block;
}
.hotel-card-link{
  text-decoration: none;
}

.hotel-card-link-more{
  vertical-align:middle;
  color: #ffffff;
  background-color: #756157;
  border-style: none;
  width: 140px;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.pagination{
  display: flex;
}
.pagination-item{
  width: 60px;
  height: 60px;
  list-style-type: none;
}
.pagination-link{
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  width: 60px;
  height: 60px;;
}
.pagination-current{
  background-color: #F2F2F2;
  color: #000000;
}
.pagination-link-choice{
  background-color:#82B3D3;
  color: #ffffff;
}
.pagination-next{
  text-decoration: none;
  color: #000000;
}
.hotel-card-rank{
  background-color: #F2F2F2;
  width: 140px;
  height: 37px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.search-results-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.footer-contacts {
  display: flex;
  width: 1060px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 70px;
  margin-right: 70px;
}
