@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2")
  format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style:normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2")
  format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2")
  format("woff2");
  font-display: swap;
}

body{
  font-family: "PT Sans",
  sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 1200px;
}
.navigation{
  font-family: "PT Sans",
  sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align:justify;
  text-decoration: none;
  display: flex;
  margin: 0 auto;
}
.navigation-link{
  margin: 0;
  padding: 0;
  width: 490;
  color:#000000;
  background-color: #ffffff;
  text-decoration: none;
}
.navigation-user{
  margin-left: auto;
  max-width: 410;
}
.button-navigation-want{
  vertical-align:middle;
  background-color:#756157;
  color:#ffffff;
  width: 376px;
  height: 52px;
  font-family: "PT Sans",
  sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.main-index-image{
  background-color: #ffffff;
  background-image: url("../images/main-bg-image.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.page-container{
 width: 1200px;
 margin: 0 auto;
}
.main-index-name{
  font-family: "PT Sans",
  sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.main-index-description{
  font-family: "PT Sans",
  sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.advantages-title{
  font-family: "PT Sans",
  sans-serif;
  font-style: bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.advantage-description{
  font-family: "PT Sans",
  sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.services-name{
  font-family: "PT Sans",
  sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.service-description{
  font-family: "PT Sans",
  sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.advantages-item-city,
.advantages-item-bridge{
  color: #ffffff;
  background-color: rgba(130, 179, 211);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}
.advantages-item-square{
  color: #000000;
  background-color: rgba(130, 179, 211, 0.12);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}
.services-item-accomodation{
  color: #000000;
  background-color: rgba(130, 179, 211, 0.12);
  background-image: url(../images/services/service-home-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}
.services-item-souvenirs{
  color: #000000;
  background-color: rgba(130, 179, 211, 0.12);
  background-image: url(../images/services/service-gift-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}
.advantages-item-road{
  color: #000000;
  background-color: rgba(130, 179, 211, 0.2);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}
.advantages-item-quiet{
  color: #000000;
  background-color: rgba(130, 179, 211, 0);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}
.services-item-food{
  color: #000000;
  background-color: rgba(130, 179, 211, 0);
  background-image: url(../images/services/service-food-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}
.reservation-title{
  font-family: "PT Sans",
  sans-serif;
  font-style: bold;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.button-reservation{
  vertical-align:middle;
  color: #ffffff;
  background-color:#756157;
  border-style: none;
  width: 376px;
  height: 52px;
  font-family: "PT Sans",
  sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.newsletter{
  text-align: center;
}
.newsletter-title{
  font-family: "PT Sans",
  sans-serif;
  font-style: bold;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.newsletter-title-index{
  font-family: "PT Sans",
  sans-serif;
  font-style: bold;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.newsletter-text{
  font-family: "PT Sans",
  sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.newsletter-text-index{
  font-family: "PT Sans",
  sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}
.newsletter-index{
  background-color: #ffffff;
  background-image: url("../images/bg-newsletter-image.jpeg");
  margin-bottom: 30px;
  padding: 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-button{
  vertical-align:middle;
  background-color:#82B3D3;
  width: 232px;
  height: 52px;
  font-family: "PT Sans",
  sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.footer{
  width: 1200px;
}
.social-networks-item{
  margin: 0;
  padding: 0;
  width: 142;
  color:#000000;
  background-color: #ffffff;
  text-decoration: none;
}
.contacts-phone{
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  width: 720px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.htmlacademy-link{
  width: 115px;
}
.main-inner{
  background-color: #ffffff;
  background-image: url("../images/bg-catalog-image.jpg");
  background-size: 1200px 412px;
  background-repeat: no-repeat;
  text-align: center;
}
.inner-header-title {
  line-height: 78px;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.breadcrumbs-link-index{
  background-image: url(../images/house-main-vector.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
}
.breadcrumbs-link-direction{
  background-image: url(../images/house-to-hotel-vector.svg);
  background-repeat: no-repeat;
  width: 8px;
  height: 20px;
}
.breadcrumbs-link-hotels{
  line-height: 21px;
  text-transform: uppercase;
}
.catalog-filter-title{
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
.catalog-filter-item{
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}
.button-light {
  color: #242424;
  background-color: #ffffff;
}
.control{
  font-weight: 400;
  color: #ffffff;
}
.sorting-container {
  color: #000000;
  background-color: #ffffff;
}
.hotel-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.hotel-card-price,
.hotel-card-type{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.hotel-card-button{
  vertical-align:middle;
  color: #ffffff;
  border-style: none;
  width: 140px;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.hotel-card-button-1,
.hotel-card-button-3,
.hotel-card-button-4{
  background-color: #82B3D3;
}
.hotel-card-button-2{
  background-color: #7DB54F;
}
.hotel-card-link-more{
  vertical-align:middle;
  color: #ffffff;
  background-color: #756157;
  border-style: none;
  width: 140px;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.pagination-link-choice{
  background-color:#82B3D3;
}
.hotel-card-rank{
  background-color: #F2F2F2;
  width: 140px;
  height: 37px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.search-results-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
